* {
  padding: 0px;
  margin: 0px;
}
.top marquee{
	margin-left: 260px;
	margin-top: -8px;
}
.sidebar {
  width: 250px;
  height: 1080px;
  top: 720px;
  position: absolute;
  background-image: url(../img/背景/黑色背景.png);
  border-right: 10px solid #d00355;
   z-index:1;
}
.sidebar ul {
  margin-top: 30px;
}
.sidebar li {
  list-style: none;
  padding: 30px;
  position: relative;
}
.sidebar a {
  text-decoration: none;
  color: #555;
  font: 20px Open Sans;
  text-transform: uppercase;
  position: relative;
  z-index: 1000;
}
.sidebar .hover {
  display: block;
  position: absolute;
  width: 0%;
  height: 70px;
  top: 10px;
  left: 0px;
  background: #d00355;
  z-index: 0;
  opacity: 0;
}
.sidebar a:hover {
  color: #FFF;
}
.sidebar .fa-angle-right {
  position: absolute;
  left: 150px;
  top: 1px;
}
.sidebar .sub-menu {
  position: absolute;
  left: 210px;
  top: -30px;
  padding: 0px;
  width: 220px;
  display: none;
  background-image: url(../img/背景/黑色背景.png);
  height: 320px;
}
.sidebar .sub-menu li a {
  padding-left: 20px;
  font-size: 20px;
  position: absolute;
  
}
.sidebar .sub-menu i {
  left: 180px;
}
.sidebar ul li:hover ul {
  display: block;
}
.sidebar .push {
  margin-right: 10px;
}

h1 {
  color: #FFF;
  font: 16px Open Sans;
  padding-left: 30px;
  padding-top: 30px;
}

.color {
  color: #d00355;
}
				dl {
				    position:absolute;
				    width:100%;
				    height:700px;
				    border:10px solid #eee;
				    }
				dd {
				    margin:0;
				    width:100%;
				    height:700px;
				    overflow:hidden;
				    }
				img {
				    border:0px solid black
				    }
				dt {
				    position:absolute;
				    bottom: 0px;
				    left: 0px;
				    }

				*{
				padding: 0px;
				margin: 0px;
			}
			div{
				border: 1px solid black;
				margin: 0px auto;
			}
			.top{
				border: 5px;
				width: 100%;
				height: 700px;
				background-color: none;
				}
			.foot{
				width: 100%;
				height: 180px;
				
				border: 1px black solid;
				margin: auto;
				background-color:#d00355 ;
				color: white;
				position: absolute;
				top:1800px;
			}
			.foot p{
				margin-top: 10px;
				font-size: 14px;
				text-align: center;
				line-height: 40px;
			}
			.foot img{
				position: absolute;
				top: 25px;
				right: 20px;
			}
		.content1{
			width: 1255px;
			height: 344px;
			margin-left: 260px;
			margin-top: -580px;
			position: absolute;
			 z-index:-1;
		}
		
		.mr2{
			margin-right: 2px;
			
		}
		.content1-1{
			width:1253px ;
			height: 342px;
			float: left;
		}
		.content2{
			width: 1255px;
			height: 344px;
			margin-left: 260px;
			margin-top: -235px;
			position: absolute;
			 z-index:-1;
		}
		.mr2{
			margin-right: 2px;
		}
		.content2-1{
			width:414px ;
			height: 342px;
			float: left;
			
		}
		.content2-2{
			width:414px ;
			height: 342px;
			float: left;
		}
		.content2-3{
			width:414px ;
			height: 342px;
			float: left;
		}
		.content3{
			width: 1255px;
			height: 348px;
			margin-left: 260px;
			margin-top: 112px;
			position: absolute;
			 z-index:-1;
		}
		.mr2{
			margin-right: 2px;
		}
		.content3-1:hover{
			transform: scale(0.9);
			animation: myColor 40s linear;
		}
		.content3-2:hover{
			transform: scale(0.9);
			animation: myColor 40s linear;
		}
		.content3-3:hover{
			transform: scale(0.9);
			animation: myColor 40s linear;
		}
		
		.content2-1:hover{
			transform: scale(0.9);
			animation: myColor 40s linear;
		}
		.content2-2:hover{
			transform: scale(0.9);
			animation: myColor 40s linear;
		}
		.content2-3:hover{
			transform: scale(0.9);
			animation: myColor 40s linear;
		}
		.content3-1{
			width:414px ;
			height: 346px;
			float: left;
		}
		.content3-2{
			width:414px ;
			height: 346px;
			float: left;
		}
		.content3-3{
			width:414px ;
			height: 346px;
			float: left;
		}
		@keyframes myColor{
			0%{background-color: pink;}
			1%{background-color: #000000;}
			2%{background-color: #0000FF;}
			3%{background-color: #002099;}
			4%{background-color: #0066CC;}
			5%{background-color: #008000;}
			6%{background-color: #00FFFF;}
			7%{background-color: #1136C1;}
			8%{background-color: #FFFFFF;}
			9%{background-color: #FFFF00;}
			10%{background-color: #FFD700;}
			11%{background-color: #4285D4;}
			12%{background-color: #45B823;}
			13%{background-color: #4B2518;}
			14%{background-color: #FFC0CB;}
			15%{background-color: #FF9900;}
			16%{background-color: #555555;}
			17%{background-color: #666666;}
			18%{background-color: #7FFFD4;}
			19%{background-color: #888888;}
			20%{background-color: #90EE90;}
			21%{background-color: #999999;}
			22%{background-color: #9F9FED;}
			23%{background-color: #A1A1A1;}
			24%{background-color: #C0C0C0;}
			25%{background-color: #AAAAAA;}
			26%{background-color: #CCCCCC;}
			27%{background-color: #D00355;}
			28%{background-color: #DCDCDC;}
			29%{background-color: #DDDDDD;}
			30%{background-color: #EEEEEE;}
			31%{background-color: #FF0000;}
			32%{background-color: #FF9900;}
			33%{background-color: #FFFF00;}
			34%{background-color: #1136C1;}
			35%{background-color: #000000;}
			36%{background-color: #0000FF;}
			37%{background-color: #0066CC;}
			38%{background-color: #00FFFF;}
			39%{background-color: #FFC0CB;}
			40%{background-color: #FFFF00;}
			41%{background-color: #DDDDDD;}
			42%{background-color: #FFFFFF;}
			43%{background-color: #666666;}
			44%{background-color: #0066CC;}
			45%{background-color: #9F9FED;}
			46%{background-color: #FFC0CB;}
			47%{background-color: #0066CC;}
			48%{background-color: #FFC0CB;}
			49%{background-color: #00FFFF;}
			50%{background-color: #D00355;}
			51%{background-color: #C0C0C0;}
			52%{background-color: #00FFFF;}
			53%{background-color: #D00355;}
			54%{background-color: #A1A1A1;}
			55%{background-color: #C0C0C0;}
			56%{background-color: #FFD700;}
			57%{background-color: #00FFFF;}
			58%{background-color: #C0C0C0;}
			59%{background-color: #000000;}
			60%{background-color: #0000FF;}
			61%{background-color: #002099;}
			62%{background-color: #008000;}
			63%{background-color: #00FFFF;}
			64%{background-color: #45B823;}
			65%{background-color: #4B2518;}
			66%{background-color: #555555;}
			67%{background-color: #666666;}
			68%{background-color: #7FFFD4;}
			69%{background-color: #888888;}
			70%{background-color: #90EE90;}
			71%{background-color: #999999;}
			72%{background-color: #9F9FED;}
			73%{background-color: #A1A1A1;}
			74%{background-color: #D00355;}
			75%{background-color: #DDDDDD;}
			76%{background-color: #EEEEEE;}
			77%{background-color: #FFC0CB;}
			78%{background-color: #002099;}
			79%{background-color: #000000;}
			80%{background-color: #9F9FED;}
			81%{background-color: #A1A1A1;}
			82%{background-color: #AAAAAA;}
			83%{background-color: #FFC0CB;}
			84%{background-color: #EEEEEE;}
			85%{background-color: #FFD700;}
			86%{background-color: #000000;}
			87%{background-color: #008000;}
			88%{background-color: #45B823;}
			89%{background-color: #9F9FED;}
			90%{background-color: #A1A1A1;}
			91%{background-color: #FF0000;}
			92%{background-color: #FFD700;}
			93%{background-color: #FFFFFF;}
			94%{background-color: #4B2518;}
			95%{background-color: #FFFFFF;}
			96%{background-color: #0066CC;}
			97%{background-color: #555555;}
			98%{background-color: #A1A1A1;}
			99%{background-color: #DDDDDD;}
			100%{background-color: #DCDCDC;}
		}
		.huaji img{
					float: left;
					margin-top: 7200px;
					margin-left: 400px;
				}
				.huaji:hover{
				
					animation: myColor 40s linear;
				}
				.huaji p1{
					float: left;
					margin-top: 3800px;
					margin-left: 400px;
				}
				.huaji p2{
					float: left;
					margin-top: 4000px;
					margin-left: 400px;
				}
				
				.huaji p3{
					float: left;
					margin-top: 4200px;
					margin-left: 400px;
				}
				.huaji p4{
					float: left;
					margin-top: 4400px;
					margin-left: 400px;
				}
				.huaji p5{
					float: left;
					margin-top: 4600px;
					margin-left: 400px;
				}
				.huaji p6{
					float: left;
					margin-top: 4700px;
					margin-left: 400px;
				}
				.huaji p7{
					float: left;
					margin-top: 4800px;
					margin-left: 400px;
				}
				.huaji p8{
					float: left;
					margin-top: 5000px;
					margin-left: 400px;
				}
				.huaji p9{
					float: left;
					margin-top: 5200px;
					margin-left: 400px;
				}
				.huaji p10{
					float: left;
					margin-top: 5400px;
					margin-left: 400px;
				}
				.huaji p11{
					float: left;
					margin-top: 5600px;
					margin-left: 400px;
				}
				.huaji p12{
					float: left;
					margin-top: 5800px;
					margin-left: 400px;
				}
				.huaji p13{
					float: left;
					margin-top: 6000px;
					margin-left: 400px;
				}
				.huaji p14{
					float: left;
					margin-top: 6200px;
					margin-left: 400px;
				}
				.huaji p15{
					float: left;
					margin-top: 6400px;
					margin-left: 400px;
				}
				.huaji p16{
					float: left;
					margin-top: 6600px;
					margin-left: 400px;
				}
				.huaji p17{
					float: left;
					margin-top: 6800px;
					margin-left: 400px;
				}.huaji p18{
					float: left;
					margin-top: 7000px;
					margin-left: 400px;
				}.huaji p19{
					float: left;
					margin-top: 8000px;
					margin-left: -30px;
				}.huaji p20{
					float: left;
					margin-top: 7100px;
					margin-left: 400px;
				}
		